<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="style_main.css">
	<link href="./css/all.css" rel="stylesheet">

	<style type="text/css">
body{
	font-family: arial;
		background-image: url(/img/bg_about.png);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
		.cl-about{
			margin: 180px auto;
			width: 50%;
			line-height: 2;
		}


		.cl-p{
			font-weight: 900;
			font-size: 22px;
			color: #042C49;
		}

		.cl-content{
			font-size: 16px;
		}


	</style>

</head>
<body>
	<div class="cl-about">
		<img src="/img/sart-logo.png" width="150px" style="margin-left: 40%;" >
		<h2 class="cl-p">關於 Sart Rehearse</h2>
		<span class="cl-content">近期新型冠狀病毒疫情升溫，對於音樂、唱片產業衝擊巨大，其中也包含大型活動、表演相關的藝文產業。相關的展演機會都相繼被取消，音樂人無法群聚進行團練，目前市面上亦無相關的展演平台能夠協助解決問題。
		因此，我們藉由線上音樂排練系統開發計畫，開發出線上排練平台 —「Sart Rehearse」，希望協助創作人和團隊等利用便利性十足的線上排練功能，解決現今疫情所造成的困境。
		Sart Rehearse平台提供「線上排練、多人視訊、音軌同步」等服務項目，搭配清晰舒適的操作介面，讓每個人都能快速上手，隨時隨地都能使用平台上傳個人錄製的音檔，並與樂團成員們同步練習。</span>
		<br/>
		<br/>
		<h2 class="cl-p">關於寀綸創意有限公司</h2>
		<span class="cl-content">寀綸創意擅長於三大領域，分別是數位行銷、互動科技、以及藝文經紀，提供全方位數位行銷顧問服務，致力於透過商業設計與創意行銷，帶動產業加值！開發體感技術互動科技翻轉地方創生，此外也為藝文工作者耕耘，打造藝文經紀平台。
		寀綸創意顧問服務項目包括數位行銷、服務設計、商業設計、粉絲經濟等。擅長於線上及線下的整合，線上包含社群平臺經營、數位內容行銷、廣告導購操作等，線下實體則有文化地方創生、互動體驗策展、服務流程設計。也因應自媒體的崛起，透過展演經紀、自媒體行銷、議題操作創造粉絲經濟。</span>
	</div>
</body>
</html>
