<!DOCTYPE html>
<html>
  <head>
    <title>HOME</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" type="text/css" href="file:///Users/logan1436/Documents/workspace/SART/sigfox-master/views/css/style_main.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="shortcut icon" href="#"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  
  <script>
    
    $(document).ready(function(){
      
      var img_ele = null,
      x_cursor = 0,
      y_cursor = 0,
      x_img_ele = 0,
      y_img_ele = 0;
      
      var firebaseConfig = {
        apiKey: 'AIzaSyBJJDdrmdP0lQPvWbuRmMLwos1uOOoXBmE',
        authDomain: 'music-test-3760d.firebaseapp.com',
        databaseURL: 'https://music-test-3760d-default-rtdb.firebaseio.com',
        storageBucket: 'music-test-3760d.appspot.com'
      };
      
      firebase.initializeApp(firebaseConfig);
      var storage = firebase.storage();
      var storageRef = storage.ref();
      var imagesRef = storageRef.child('images');
      
      document.getElementById('drag-img').addEventListener('mousedown', start_drag);
      document.getElementById('container').addEventListener('mousemove', while_drag);
      document.getElementById('container').addEventListener('mouseup', stop_drag);
      document.getElementById('zoomout').addEventListener('click', function() {
        zoom(0.5);
      });
      document.getElementById('zoomin').addEventListener('click', function() {
        zoom(1.5);
      });
      
      var audio_cnt = 0;
      var count_audio = 0;
      $("#add_audio").click(function(){
        if (count_audio >= 10) {
          alert('audio cannot exceed 10 items!! please remove your audio track.');
          return;
        }
        var audio_ele_str = "<li id=\"audio_li_"+audio_cnt+"\"><input type=\"file\" id=\"upload_audio"+audio_cnt+"\" /> <audio id=\"audio"+audio_cnt+"\" controls> <source src=\"\" id=\"src"+audio_cnt+"\" /> </audio><button id=\"remove_audio"+audio_cnt+"\">remove</button></li>"
        $("ul").append(audio_ele_str);
        console.log('added audio :'+audio_cnt);
        document.getElementById("upload_audio"+audio_cnt).addEventListener("change", handleFiles, false);
        document.getElementById("remove_audio"+audio_cnt).addEventListener("click", remove_audio_track, false);
        //console.log("remove_audio"+audio_cnt)
        audio_cnt += 1;
        count_audio += 1;
      });
      
      
      function remove_audio_track(event) {
        console.log(audio_cnt)
        console.log(event.target.id)
        if (audio_cnt > 10) {
          var n = event.target.id.slice(-2);
        }
        else {
          var n = event.target.id.slice(-1);
        }
        
        var li_to_remove = "#audio_li_" + n
        $(li_to_remove).remove();
        console.log('removed audio :'+n);
        count_audio -= 1;
      }

      function handleFiles(event) {
        //var eventID = event.target.id
        var n = event.target.id.slice(-1)
        console.log(n)
        var files = event.target.files;
        //$("#src"+n).attr("src"+n, URL.createObjectURL(files[0]));
        document.getElementById('audio'+n).load();
        //var uploadTask = storageRef.child('images/mu.mp3').put(files);
      }
      
      function zoom(zoomincrement) {
        img_ele = document.getElementById('drag-img');
        var pre_width = img_ele.getBoundingClientRect().width, pre_height = img_ele.getBoundingClientRect().height;
        img_ele.style.width = (pre_width * zoomincrement) + 'px';
        img_ele.style.height = (pre_height * zoomincrement) + 'px';
        img_ele = null;
      }
      
      function start_drag() {
        img_ele = this;
        x_img_ele = window.event.clientX - document.getElementById('drag-img').offsetLeft;
        y_img_ele = window.event.clientY - document.getElementById('drag-img').offsetTop;
        
      }
      
      function stop_drag() {
        img_ele = null;
      }
      
      function while_drag() {
        var x_cursor = window.event.clientX;
        var y_cursor = window.event.clientY;
        if (img_ele !== null) {
          img_ele.style.left = (x_cursor - x_img_ele) + 'px';
          img_ele.style.top = ( window.event.clientY - y_img_ele) + 'px';
          console.log(img_ele.style.left+' - '+img_ele.style.top);
        }
      }
    });
  </script>

  <body>
    <div class='bgimg'>
      <div class="navbar">
        <div class="logo"><img src="file:///Users/logan1436/Documents/workspace/SART/sigfox-master/views/img/logo.png" width="200px"></div>
        <div class="dot"><img src="file:///Users/logan1436/Documents/workspace/SART/sigfox-master/views/img/ic_dot.png" width="15px"></div>
        
        <div class="search-container">
          <form action="/action_page.php">
            <input type="text" placeholder="請輸入房間編號" name="search" class="searchbar">
            <button type="submit">GO</button>
            <button class="user"><img src="file:///Users/logan1436/Documents/workspace/SART/sigfox-master/views/img/ic_user.png" width="22px"></button>
          </form> <!-- end form-->
        </div> <!-- end search-container -->
      </div> <!--end navbar -->

      <hr width="100%" color="#D0D9EE" />
      <div class="title-1">
        <img src="file:///Users/logan1436/Documents/workspace/SART/sigfox-master/views/img/ic_track.png" class="title" width="180px">
      </div>
      <div class="AudioTrack">
        <ul></ul>
        <img id="add_audio" width="40px" id="btn2" src="file:///Users/logan1436/Documents/workspace/SART/sigfox-master/views/img/ic_addaudio.png">
      </div>
      
      <div class="title-2">
        <img src="file:///Users/logan1436/Documents/workspace/SART/sigfox-master/views/img/ic_notation.png" class="title" width="140px">
      </div>
      
      <div class="Notation">
        <div class="main">
          <div id='container'>
            <img ondragstart="return false" id="drag-img" src="file:///Users/logan1436/Documents/workspace/SART/sigfox-master/views/img/music1.png" />
          </div>
          
        </div>
            <input type="button" id="zoomout" class="button" value="Zoom out">
            <input type="button" id="zoomin" class="button" value="Zoom in">
      </div>
      
      <div class="Player">
        <button><img src="file:///Users/logan1436/Documents/workspace/SART/sigfox-master/views/img/ic_vol.png" class="player-btn1" width="44px"></button>
        <button><img src="file:///Users/logan1436/Documents/workspace/SART/sigfox-master/views/img/ic_stop.png" class="player-btn2" width="38px"></button>
        <button><img src="file:///Users/logan1436/Documents/workspace/SART/sigfox-master/views/img/ic_play.png" class="player-btn3" width="160px"></button>
      </div>
      <div class="player2">Player2</div>
      <div class="Metronome">Metronome</div>
      
      <img src="file:///Users/logan1436/Documents/workspace/SART/sigfox-master/views/img/ic_video.png" class="video" width="54px">
      <div class="Videocall">
        <div class="video-container">
          <p>線上視訊會議 Video Call</p>
          <input type="text" placeholder="貼上聊天室連結" name="search" class="searchbar-2">
          <button type="submit" class="vd-submit">送出</button>
        </div>
      </div>
      <div>
      <hr width="100%" color="#D0D9EE" />
      
      </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-storage.js"></script>
  </body>

</html>
        

<!--  <div class="bgimg">-->
<!--    <h1> This is mainPage!</h1>-->
<!--    <h3> Room #: <%-data.room%></h3> -->
<!--    <h3> User ID: <%-data.user%></h3> -->
