<!DOCTYPE html>
<html>
<title>HOME</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url(img/bg_room.png);
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

  .search-container{
    display: none;
    text-align:center;
    top: 12px;
    width: 300px;
    height: 50px;
    background-color: none;
    border: 1px solid #A8B2F9;
    border-radius: 7px;
    opacity: 1;
    box-shadow: 1px 5px 10px rgba(129,167,201,0.6);
    position: relative;
    margin: 0 auto;
/*    top: 400px;*/
/*    left: 250px;*/
  }
  
  .search-container button {
    padding: 5px 10px;
    margin-top: 6px;
    margin-right: 16px;
    background: none;
    font-size: 17px;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  
  .searchbar{
    width: 200px;
    height: 28px;
    border: 1px solid #7391F9;
    border-radius: 20px;
    padding: 10px;
    
  }
  
  .searchbar-2{
    width: 388px;
    height: 30px;
    border: 1px solid #7391F9;
    border-radius: 10px;
    padding: 10px;
  }

</style>
<body>


<div class="bgimg w3-display-container">
<div id="searchRoom" class="search-container">
  <form onsubmit="redirect();return false;">
    <input id="userInput"type="text" placeholder="請輸入房間編號" name="search" class="searchbar">
    <button type="submit">GO</button>
  </form> <!-- end form-->
</div> <!-- end search-container -->
  <div class="w3-display-middle">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
      <button class="btn" onclick="createRoom();"><span>創建房間</span></button>
      <div class="btn" style="float: right;" onclick="document.getElementById('searchRoom').style.display='block'"><span>加入房間</span></div>
    </div>
<!--    <div class="btn" href="#"><span>加入房間</span></div>-->
  </div>
    
    
</div>
  
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    function createRoom() {

      axios.post('/createRoom', 
        //JSON.stringify(myUser)
      )
      .then(function (response) {
        console.log(response.data);
        window.location = '/mainPage/'+ response.data.room
      })
      .catch(function (error) {
        window.location = '/Signin'
        console.log(error);
      });
      //alert(`created room #${}`);   
    }
    
  </script>
    <script type='text/javascript'>
            function redirect() {
                var input = document.getElementById('userInput').value;
                if (input === "") {alert("please enter a string!"); return;}
                window.location = '/mainPage/'+input;
            }
            function redirect2() {
                var input = document.getElementById('videoInput').value;
                if (input === "") {alert("please enter a string!"); return;}
                window.location = input;
            }
            </script>
</body>
</html>


