<!DOCTYPE html>
<html>
<title>HOME</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url(img/bg_room.png);
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
<body>

<div class="bgimg w3-display-container">
  <div class="w3-display-middle">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
      <button class="btn" onclick="createRoom();"><span>創建房間</span></button>
      <div class="btn" style="float: right;" onclick="createRoom();"><span>加入房間</span></div>
    </div>
<!--    <div class="btn" href="#"><span>加入房間</span></div>-->
  </div>
    
    
</div>
  
<!--  <% console.log(userdata)       %>-->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    function createRoom() {
      var myUser = <%-JSON.stringify(userdata)%>;
      console.log(myUser)
      axios.post('/createRoom', 
        JSON.stringify(myUser)
      )
      .then(function (response) {
        console.log(response.data);
        window.location = '/mainPage/'+ response.data.room
      })
      .catch(function (error) {
        window.location = '/Signin'
        console.log(error);
      });
      //alert(`created room #${}`);   
    }
    
  </script>
</body>
</html>


