<!DOCTYPE html>
<html>
<title>HOME</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url(img/bg_room.png);
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
<body>

<div class="bgimg w3-display-container">
  <div class="w3-display-middle">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="btn" href="#"><span>創建房間</span></div>
      <div class="btn" href="#" style="float: right;"><span>加入房間</span></div>
    </div>
<!--    <div class="btn" href="#"><span>加入房間</span></div>-->
  </div>
    
    
</div>

<script src="https://apis.google.com/js/platform.js" async defer></script>

<meta name="google-signin-client_id" content="672665655366-d53mfsp6dbd3shopa8hp6vjts27sknig.apps.googleusercontent.com">
</body>
</html>


