<!DOCTYPE html>
<html>
<title>HOME</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="css/style_Signin.css">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url(img/bg_login.png);
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
<body>
  

<div class="bgimg">
  <div class="w3-container">
    <div class="w3-display-middle">
      <br>
      <br>
      <br>
      
      <div class="box-login login ">
        
        <img src="img/ic_user.png" style="display: block;margin: 15px auto;" width="37px" height="45px">
        <div class="text">會員登入</div>
        <div class="login">
          <form action="/login" method="post">
            <input type="text" id="fname" name="account" placeholder="帳號">
            <br>
            <br>
            <input type="text" id="lname" name="password" placeholder="密碼">
            <br>
            <br>
            
            <div class="g-signin2" data-width="200px" data-onsuccess="onSignIn" data-auto-logout-link="true" style="display:inline-block">
            </div>
<!--            <div onmousedown="signOut()">Logout</div>-->
<!--            -->
<!--            <div class="fb-login-button" data-width="200px" data-size="large" data-button-type="login_with" data-layout="default" data-auto-logout-link="true" data-use-continue-as="false"style="display:inline-block">-->
<!--            </div>-->
            
<!--            <button class="loginBtn loginBtn--google">-->
<!--              Login with Google-->
<!--            </button>-->
<!--            -->
<!--            <button id="fb_root" class="loginBtn loginBtn--facebook" onclick="fb_login();">-->
<!--              Login with Facebook-->
<!--            </button>-->
            

            <br>
            <br>
            <input type="submit" value="登入" >
<!--            <button><a href="http://localhost:34000/Room">hi</a></button>-->
            <br>
            <br>
          </form>
        </div> <!-- class: login  -->
      </div>
    </div>
  </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script>
function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log(profile)
  console.log('ID: ' + profile.getId());
  console.log('Name: ' + profile.getName());
  console.log('Given Name: ' + profile.getGivenName());
  console.log('Family Name: ' + profile.getFamilyName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail());
  
  var myUserEntity = {};
  myUserEntity.Id = profile.getId();
  myUserEntity.Name = profile.getName();
  myUserEntity.email = profile.getEmail();
  
  
  
  //Store the entity object in sessionStorage where it will be accessible from all pages of your site.
  //sessionStorage.setItem('myUserEntity',JSON.stringify(myUserEntity));

  axios.post('/loginWithGoogle', 
    JSON.stringify(myUserEntity)
  )
  .then(function (response) {
    console.log(response.config.data);
    console.log('logged in!');
    alert("Welcome, "+ profile.getGivenName());
    window.location = '/Room'

  })
  .catch(function (error) {
    console.log(error);
    window.location="/Signin"
  });
  //alert(profile.getName());   
}
  
//function checkIfLoggedIn()
//{
//  if(sessionStorage.getItem('myUserEntity') == null){
//    console.log("not logged in");
//    //Redirect to login page, no user entity available in sessionStorage
//    //window.location.href='http://www.w3schools.com';
//  } else {
//    //User already logged in
//    var userEntity = {};
//    console.log("logged in");
//    userEntity = JSON.parse(sessionStorage.getItem('myUserEntity'));
//    //window.location.href='http://www.w3schools.com';
//  }
//}

function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
    sessionStorage.clear();
  }
</script>
<!--  <script>-->
<!--    window.fbAsyncInit = function() {-->
<!--      FB.init({-->
<!--        appId   : 3514085212052963,-->
<!--        oauth   : true,-->
<!--        status  : true, // check login status-->
<!--        cookie  : true, // enable cookies to allow the server to access the session-->
<!--        xfbml   : true, // parse XFBML-->
<!--        version : "v10.0"-->
<!--      });-->
<!--      -->
<!--    };-->
<!--    -->
<!--    function fb_login(){-->
<!--      FB.login(function(response) {-->
<!--        console.log("we");-->
<!--        if (response.authResponse) {-->
<!--          console.log('Welcome!  Fetching your information.... ');-->
<!--          console.log(response); // dump complete info-->
<!--          access_token = response.authResponse.accessToken; //get access token-->
<!--          user_id = response.authResponse.userID; //get FB UID-->
<!--          -->
<!--          FB.api('/me', function(response) {-->
<!--            user_email = response.email; //get user email-->
<!--            // you can store this data into your database             -->
<!--          });-->
<!--          -->
<!--        } else {-->
<!--          //user hit cancel button-->
<!--          console.log('User cancelled login or did not fully authorize.');-->
<!--          -->
<!--        }-->
<!--      }, {-->
<!--        scope: 'public_profile,email'-->
<!--      });-->
<!--    }-->
<!--    (function() {-->
<!--      var e = document.createElement('script');-->
<!--      e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';-->
<!--      e.async = true;-->
<!--      //document.getElementById('fb_root').appendChild(e);-->
<!--    }());-->
<!--</script>-->
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
  
<meta name="google-signin-client_id" content="444939712997-9881518a3c3qakmuqt5ofec6i73ksikd.apps.googleusercontent.com">
</body>
</html>


