
*{
	position: relative;
	box-sizing: border-box;
}
body{
	font-family: arial;
		background-image: url(/img/bg_main.png);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

li {
	list-style: none;
}

button{
	cursor: pointer;
	background: none;
	border: none;
}

hr.line{
	border: 2px solid #D0D9EE;
	border-bottom: none;
	margin: 0;
	width: 85%;
}

.logo{
	display: inline-block;
	margin: 20px 0 5px 146px;
}

.dot{
	display: inline-block;
	position: relative;
	left: 550px;
}

.search-container{
	text-align:center;
	top: 12px;
	width: 430px;
	height: 60px;
	background-color: none;
	border: 1px solid #A8B2F9;
	border-radius: 7px;
	opacity: 1;
	box-shadow: 1px 5px 10px rgba(129,167,201,0.6);
	position: absolute;
	top: 10px;
	left: 1300px;
}

.search-container button {
  padding: 5px 10px;
  margin-top: 6px;
  margin-right: 16px;
  background: none;
  font-size: 17px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.searchbar{
	width: 200px;
	height: 28px;
	border: 1px solid #7391F9;
	border-radius: 20px;
	padding: 10px;

}

.searchbar-2{
	width: 388px;
	height: 30px;
	border: 1px solid #7391F9;
	border-radius: 10px;
	padding: 10px;
}

.video-container button{
	width: 64px;
	height: 30px;
	background-color: #97BEC4;
	color: #fff;
	border: 1px solid #7391F9;
	border-radius: 12px;
	cursor: pointer;
}

.user{
	position: absolute;
	top: 6px;
	left: 370px;
}

.title-row{
	position: absolute;
	left: 130px;
	top: 90px;
}	

.title-1{
	position: absolute;
	left: 130px;
	top: 140px;
}	

.AudioTrack{
	width: 800px;
	height: 264px;
	background-color: rgba(244,246,246, 0.8);
	border: 1px solid #D8E0F1;
	border-radius: 6px;
	box-shadow: 0px 0px 5px rgba(249,233,170, 0.5);
	position: absolute;
	left: 130px;
	top: 180px;
	padding: 40px;
	overflow:scroll;
	overflow-x:hidden;
	overflow-y:auto;
}

audio{
	width: 662px;
	height: 36px;
	margin: auto;
	color: #000;
	font-size: 20px;
	padding-left: 10px;
	opacity: 85%;

}

.audio_track-button1 {
	position: absolute;
	top: 0;
	left: 600px;
}
.audio_track-button2 {
	position: absolute;
	top: 0;
	left: 640px;
}

#add_audio {
	display:block;
	margin: 0 auto;
	cursor: pointer;
}

.title-2{
	position: absolute;
	left: 1000px;
	top: 140px;
}	

.Notation{
	width: 750px;
	height: 800px;
	background-color: #F4F6F6;
	border: 1px solid #D8E0F1;
	border-radius: 6px;
	opacity: 85%;
	box-shadow: 0px 0px 5px rgba(249,233,170, 0.5);
	position: absolute;
	left: 1000px;
	top: 180px;
}

.Notation .main{
	width: 680px;
	height: 541px;
	overflow: hidden;
	border: 1px solid #D8E0F1;
	margin: 30px auto 10px auto;
	
}

.zoombutton{
	margin: 5px;
	left:600px;
	padding: 6px;
}

.Player{
	width: 450px;
	height: 191px;
	border: 1px solid #66EAFF;
	border-radius: 6px;
	background-color: rgba(0,0,0,0.6);

	box-shadow: 0.5px 5px 10px rgba(129,167,201,0.6);
	position: absolute;
	left: -5px;
	top: 500px;
}
.Player button{
background: none;
border: none;
}

.player-btn1{
position: absolute;
top: 65px;
left: 50px;
}

.player-btn2{
position: absolute;
top: 60px;
left: 110px;
}

.player-btn3{
position: absolute;
top: 0px;
left: 200px;
}
.player2{
	width: 450px;
	height: 44px;
	border: 1px solid #A8B2F9;
	border-radius: 6px;
	background-color: #F4F7F6;
	opacity: 40%;
	box-shadow: 1px 5px 10px rgba(129,167,201,0.6);
	position: absolute;
	left: 0;
	top: 720px;
}

#playerContainer {
  position: absolute;
  top: 15px;
  left: 240px;
}

.Metronome{
	width: 430px;
	height: 340px;
	border-radius: 10px;
	position: absolute;
	left: 500px;
	top: 480px;
	background-color: rgba(0,0,0,0.8);
}

/* 節拍器 */

.container {
  width: 100%;
}

.metronome-container {
  width: 100%;
  height: auto;
  position: relative;
  margin: 0px auto;
  background: none;
}
.metronome-container .options-btn {
  color: #fff;
  font-size: 22px;
  position: absolute;
  top: 20px;
  right: 15px;
  transform: rotateZ(0deg);
  cursor: pointer;
  transition: transform 0.3s;
}
.metronome-container .options-btn:hover {
  transform: rotateZ(60deg);
}
.metronome-container .options-active {
  max-height: 1000px !important;
  padding: 15px;
  overflow: visible !important;
  width: 180px;
}
.metronome-container .options {
  max-height: 0px;
  background: #fff;
  color: #333;
  overflow: hidden;
  transition: all 0.25s;
  position: absolute;
  top: 0px;
  right: 15px;
}
.metronome-container .options .up {
  color: #fff;
  font-size: 22px;
  position: absolute;
  top: -14px;
  right: 3px;
  z-index: 500;
  transform: rotateZ(180deg);
}
.metronome-container .options label {
  display: block;
/*  margin-top: 0px;*/
  width: 100px;
}
.metronome-container .counter {
  width: 100%;
  height: 60px;
  padding-bottom: 10px;
  background: #404040;
  text-align: center;
  border-radius: 5px;
}
.metronome-container .counter .dot {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 25px 10px 10px 10px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
  left: 0;
}
.metronome-container .counter .active {
  background: #5ec2ff;
}
.metronome-container .controls {
  color: #fff;
  padding: 0px;
  text-align: center;
}
.metronome-container .controls label {
  display: block;
}
.metronome-container .controls label span {
  background: #fff;
  color: #222;
  padding: 8px;
}
.metronome-container .controls label span i {
  cursor: pointer;
  transition: color 0.2s;
}
.metronome-container .controls label span i:hover {
  color: #fa6900;
}
.metronome-container .controls input {
  width: 30px;
  border: none;
  color: #222;
  text-align: center;
  padding: 4px;
  border-radius: 0;
  background: #fff;
}

.metronome-container .controls select {
  border: 0px;
  color: #222;
}
.metronome-container .controls .play-btn {
  width: 45%;
  background: #F4D6A2;
  border: 0px;
  border-radius: 5px;
  padding: 12px;
  color: #3d430d;
  transition: background 0.3s;
}
.metronome-container .controls .play-btn:hover {
  background: #F8E5C2;
}
.metronome-container .controls .tap-btn {
  width: 45%;
  background: #888;
  border: 0px;
  border-radius: 5px;
  padding: 12px;
  color: #fbfbfb;
  transition: background 0.3s;
}
.metronome-container .controls .tap-btn:hover {
  background: #959595;
}

#slider{
	width: 140px;
	background: #D3D3D3;
}


input[type=range] {
  -webkit-appearance: none !important;
  max-height: 3px;
  position: relative;
  top: -3px;
  background: #ddd;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 15px;
  height: 15px;
  position: relative;
  top: -1px;
  background: #222;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  display: inline-block !important;
  height: 15px;
  width: 15px;
  margin: 0px 4px 0px 0px !important;
  padding: 0px;
  position: relative;
  top: 4px;
  background: #fff;
  cursor: pointer;
}
input[type=checkbox] + label:before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 8px;
  background: #f38630;
  opacity: 0;
  position: relative;
  top: -5px;
  right: -1px;
  transform: skewX(0deg);
  transition: all 0.24s;
}
input[type=checkbox] + label:after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 15px;
  background: #f38630;
  opacity: 0;
  position: relative;
  top: -5px;
  right: -3px;
  transform: skewX(0deg);
  transition: all 0.24s;
}

input[type=checkbox]:checked + label:before {
  transform: skewX(30deg);
  opacity: 1;
}
input[type=checkbox]:checked + label:after {
  transform: skewX(-30deg);
  opacity: 1;
}



.Videocall{
	width: 480px;
	height: 110px;
	border-radius: 6px;
	background-color: rgba(241,244,243,0.4);
	opacity: 100%;
	box-shadow: 1px 5px 10px rgba(129,167,201,0.6);
	position: absolute;
	left: 178px;
	top: 860px;
	margin-bottom: 30px;
	padding-left: 10px;
}

p{
	letter-spacing: 2px;
	margin: 10px;
}

.video{
	position: absolute;
	left: 102px;
	top: 880px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

/* Hide the images by default */
.mySlides {
	display: none;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */
/*.dot {*/
/*	cursor: pointer;*/
/*	height: 15px;*/
/*	width: 15px;*/
/*	margin: 0 2px;*/
/*	background-color: #bbb;*/
/*	border-radius: 50%;*/
/*	display: inline-block;*/
/*	transition: background-color 0.6s ease;*/
/*}*/

/*.active, .dot:hover {*/
/*	background-color: #717171;*/
/*}*/

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

/*@-webkit-keyframes fade {*/
/*	from {opacity: .4} */
/*	to {opacity: 1}*/
/*}*/
/**/
/*@keyframes fade {*/
/*	from {opacity: .4} */
/*	to {opacity: 1}*/
/*}*/

/*.mySlides {*/
/*	transition: -webkit-transform 0.25s ease;*/
/*}*/

/*.mySlides:hover {*/
/*	-webkit-transform: scale(2);*/
/*}*/

#drag-img {
	cursor: move;
	position: relative;
	width: 100%;
}

body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
	background-image: url(/img/bg_main.png);
	min-height: 100%;
	background-position: center;
	background-size: cover;
}
.mySlides {display:none;}

.image-upload>input {
	display: none;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}



body {
	font-family: Arial;
	margin: 0;
}

* {
	box-sizing: border-box;
}

img {
	vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
	position: relative;
}

/* Hide the images by default */
.mySlides {
	display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
	cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* Container for image text */
.caption-container {
	text-align: center;
	background-color: #222;
	padding: 2px 16px;
	color: white;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Six columns side by side */
.column {
	float: left;
	width: 13%;
}

/* Add a transparency effect for thumnbail images */
.demo {
	opacity: 0.6;
}

.active,
.demo:hover {
	opacity: 1;
}

audio {
	
	width:500px;
}

.trackname{
	width: 80px;
  	height: 30px;
	font-size: 14px;
	border-radius: 6px;
	background: #F4D6A2;
	padding: 5px;
	text-align: center;
	float: left;
  	overflow: hidden;
  	white-space:nowrap;
  	text-overflow: ellipsis;
}

.imgbox{
width: 140px;
height: 110px;
border: 1px solid #d8e0f1;
margin-right: 10px;
display: inline-block;
overflow: hidden;

}

.imgbox-big{
width: 150px;
height: 150px;
/*border: 1px solid #d8e0f1;*/
margin-right: 10px;
display: inline-block;
overflow: hidden;
	
}

.imgbox-button{
background: none;
border: none;
position: absolute;
top: 120px;
left: 35px; 
}

 .imgbox-remove{
left: 65px;
}

.imgscroll{
width: 680px;
height: 160px;
/*border: 1px solid #000;*/
margin: 0 auto;
overflow: scroll;
white-space: nowrap;
overflow-x: auto;
overflow-y: hidden;
}

*{
	position: relative;
	box-sizing: border-box;
}


/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #F5F1F1;
	margin: auto;
	padding: 20px;
	border: 2px solid #C2C2C2;
	border-radius: 6px;
	width: 640px;
	height: 340px;
}

/* The Close Button */

.close {
	margin-left: 550px;
	border: none;
	cursor: pointer;
	background: none;
}

.close:hover,
.close:focus, {
	border: none;
	background: none;
	cursor: pointer;
	opacity: 1;
}

input[type=text]{
	width: 60%;
	padding: 12px 15px;
	margin: 15px 30px;
	display: inline-block;
	border: 1px solid #7391F9;
	border-radius: 12px;
	box-sizing: border-box;
	font-size: 18px;
}


.name{
	font-size: 23px;
	font-family: sans-serif;
	font-weight: 700;
	letter-spacing:5px;
	margin: 0 20px 0 30px; 
}

.select{
	width:132px;
	height:40px;
	font-size:23px;
	font-family: sans-serif;
	font-weight: 700;
	letter-spacing:6px;
	background-color: #AEC7DB;
	border: 1px solid #AAB9F6;
	border-radius: 12px;
	cursor: pointer;
	
}

.submit{
		display:block;
		width:200px;
		height:66px;
		font-size:30px;
		font-family: sans-serif;
		font-weight: 700;
		letter-spacing:6px;
		background-color: #AEC7DB;
		border: 1px solid #AAB9F6;
		border-radius: 12px;
		margin: 0 auto;
		cursor: pointer;
}

#submit-go{
	margin-left: -20px;
	font-size:18px;
	font-family: sans-serif;
	font-weight: 700;
	cursor: pointer;
}
